
[hidden], [aria-hidden="true"] {
    display: none;
}
.display-flex {
    display: flex;
}
.mt-10 {
    margin-top: 10px;
}
.mb-0 {
    margin-bottom: 0;
}
.mr-10 {
    margin-right: 10px;
}
.p-10 {
    padding: 10px;
}
.ta-center {
    text-align: center;
}
textarea {
    resize: vertical;
}
body {
    background: #F5F8FA;
}
body.bp3-dark {
    background: #30404d;
}
.container {
    width: 700px;
    padding: 60px 0;
    margin: auto;
    border-radius: 6px;
}
.chat-content {
    min-height: 250px;
    max-height: 500px;
    overflow-y: auto;
}
.chat-content .msg-row {
    margin: 10px;
}
.msg-row .msg {
    display: inline-block;
    width: auto;
    max-width: 70%;
    word-wrap: break-word;
    text-align: left;
}
.msg-row.msg-outgoing {
    text-align: right;
}
.new-msg-content {
    width: 100%;
    height: 100%;
}
.new-msg-content textarea {
    resize: none;
}
.bp3-non-ideal-state {
    padding: 20px;
}
